header {
    background: $telo;
} 
.header {
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        .nav {
            list-style: none;
            display: flex;
            li {
                margin-right: 35px;
                a {
                    color:$black;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
            li:last-child{
                margin-right: 0px;
            }
            &-other {
                list-style: none;
                display: flex;
                align-items: center;
            li {
                margin-right: 15px;
                a {
                    img {

                    }
                } 
            }
            li:last-child{
                margin-right: 0; 
            }
            .flag {
                margin-top: 5px;
            }
        }
         }
            .logo {
                a {
                    img {

                    }
                }

}
    }
}